@import './base.css';

.overflow-clip {
  display: block;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}

.overflow-ellipsis {
  display: block;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

main {
  padding: 1em;
  position: relative;
  top: var(--header-height);
}

@media (width > 70em) {
  main {
    margin: auto auto;
    width: 70em;
  }
}
